.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2C3930;
}

/* App.css */
/* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
} */